PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/eventsphere
JWT_SECRET=eventsphere_jwt_secret_key_2026
CLIENT_URL=http://localhost:3000

# Optional SMTP Settings for Email OTP delivery (e.g. Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=haladawood2828@gmail.com
SMTP_PASS=isccshhonagqjxvj
SMTP_FROM="EventSphere Security" <haladawood2828@gmail.com>

GEMINI_API_KEY=AQ.Ab8RN6LJ4y4GKAkgHomvlH77xwyIZgOWiDGjXcVmc8vCDRW9Vg